<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="floda.pl.floda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoincolor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoincolor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="floda.pl.floda.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="floda.pl.floda.activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRegister"  />
        <activity
            android:name="floda.pl.floda.activities.MenuActivity"
            android:label="@string/title_activity_floda_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name="floda.pl.floda.activities.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="floda.pl.floda.activities.PlantOverviewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="floda.pl.floda.activities.NewPlantActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="floda.pl.floda.activities.ListGenreActivity" />
        <activity android:name="floda.pl.floda.activities.NewGenreActivity" />
        <activity android:name="floda.pl.floda.activities.UserSettingsActivity" />


    </application>

</manifest>